@layer components {
  .FormInput {
    display: flex;
    flex-flow: column;
    gap: 4px;
    justify-content: start;
    align-items: start;

    label {
      font-size: 13px;
      font-weight: 500;
    }

    ::-webkit-input-placeholder {
      font-size: 13px;
    }
  }
}