@layer components {
  .ChipList {
    overflow: auto;
    list-style-type: '';
    margin-block: 0;
    padding-inline-start: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 12px;
    gap: 4px;

    &::-webkit-scrollbar {
      height: 4px;
    }

    li {
      flex-shrink: 0;
    }
  }
}